################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SonetCrm.API
/CommonLayer/bin/Debug/net5.0
/CommonLayer/obj
/RepositoryLayer/bin/Debug/net5.0
/RepositoryLayer/obj
/UnitOfWork/bin/Debug/net5.0
/UnitOfWork/obj
/EntityLayer/bin/Debug/net5.0
/EntityLayer/obj
/DatabaseTutorAPI/bin/Debug/net5.0
/DatabaseTutorAPI/obj
/DatabaseTutorDT/bin/Debug/net5.0
/DatabaseTutorDT/obj
/DatabaseTutor.ENUM/bin/Debug
/DatabaseTutor.ENUM/obj
